<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <!-- jquery cdn yo use jquery -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
     -->
     <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="heading">
            <h1>Codeial</h1>
        </div>
        <div class="links">
            <%if(locals.user){%>
                <h2><a href="/users/sign-out">Sign-Out</a></h2>
                <% }else{ %>
                    <h2><a href="/users/sign-in">Sign-In</a></h2>
                    <h2><a href="/users/sign-up">Sign Up</a></h2>
                    <% } %>
        </div>
    </div>
    <div id="post">
        <%if(locals.user){%>
            <h2>Create a Post: </h2>
            <form action="/posts/create-post" method="post" id="newPostForm">
                <textarea name="content" cols="60" rows="3" placeholder="enter your content here"></textarea>
                <button type="submit" id="postButton">Post</button>
            </form>
            <% } %>
    </div>

    <div class="container">

        <div class="posts">
            <h1>Posts</h1>
            <ol id="posts-list">
                <% for(let post of posts) {%>
                    <li id="post-<%= post._id%>">
                        <h2>
                            <%=post.content%>
                                -<%=post.user.username%>
                                    <% if(locals.user && locals.user.id==post.user.id) {%>
                                        <a href="/posts/destroy/<%=post._id %>" class="deletePostButton">X</a>
                                        <% } %>
                        </h2>

                        <div class="comments">
                            <%if(locals.user){%>
                                <form action="/comments/create-comment/<%=post._id %>" method="post">
                                    <textarea name="content" cols="30" rows="1"
                                        placeholder="enter your comment here"></textarea>
                                    <button type="submit">Comment</button>
                                </form>
                                <% } %>

                                    <div class="comment-list">
                                        <ol type="I">
                                            <% for(let comment of post.comments) { %>
                                                <li>
                                                    <%= comment.content %>
                                                        <br>
                                                        <small>
                                                            --<%= comment.user.username %>
                                                        </small>
                                                        <% if(locals.user && locals.user.id==comment.user.id) {%>
                                                            <a href="/comments/destroy/<%=comment._id %>">X</a>
                                                            <% } %>
                                                </li>
                                                <% } %>
                                        </ol>
                                    </div>
                        </div>
                    </li>
                    <% } %>
            </ol>
        </div>

        <div class="users">
            <h1>Users</h1>
            <% for(let user of users_list) {%>
                <h2>
                    <a href="/users/profile/<%= user._id%>">
                        <%= user.username %>
                    </a>
                    - <%= user.email %>
                </h2>
                <% } %>
        </div>
    </div>

<!-- to send ajax request-->
    <script src="js/home_posts.js">
    // flash msgs
    <% if (flash.success && flash.success.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: '<%=flash.success%>',
                type: 'success',
                layout: 'topRight',
                timeout: 1000,
            }).show();
    <% } %>
    <% if (flash.error && flash.error.length > 0) {%>
            new Noty({
                theme: 'relax',
                text: '<%=flash.error%>',
                type: 'error',
                layout: 'topRight',
                timeout: 1000,
            }).show();
    <% } %>
    </script>
</body>

</html>